/* ! DEBUG--------------------------------- */


/* * GENERAL------------------------------- */
*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --header-height: 70px;
    --sidebar-width: 70px;
}

/* general static header height */
header .my-leftBox{
    height: var(--header-height);
}

/* ? IMAGES-------------------------------- */


/* ? NAVBAR-------------------------------- */
header .my-leftBox, header .my-rightBox{
    width: 70px;
}

@media screen and (min-width: 768px) {
    header .my-leftBox, header .my-rightBox{
        width: 150px;
    }
}

/* ? SEARCHBAR----------------------------- */
header .my-middleBox{
    position: relative;
}

header .my-middleBox .fa-search{
    position: absolute;
    font-size: 16px;
    top: 12px;
    left: 20px;
}

header .my-middleBox input{
    height: 40px;
    text-indent: 30px;
    border-radius: 10px;
    background-color: #e4e4e4 !important;
    border: none !important;
}

header .my-middleBox input:focus{
    box-shadow: none !important;
}

/* ? SIDEBAR------------------------------- */
main .my-leftBox{
    width: var(--sidebar-width);
    height: calc(100dvh - var(--header-height));
    background-image: url(../img/sidebar-bg.png);
    background-color: #0d2337;
}

/* align the link text in the sidebar */
main .my-leftBox i{
    width: 15px;
}

@media screen and (min-width: 768px) {
    main .my-leftBox{
        width: 150px;
    }
}

/* ? MAIN BOX----------------------------- */
main .my-rightBox{
    height: calc(100dvh - var(--header-height));
    width: calc(100vw - var(--sidebar-width));
    background-color: #f8f9fa;
}

main .my-rightBox .my-topBox{
    background-color: #2171e7;
}

/* ? MY COLORS---------------------------- */
.my-bgBlue        { background-color: #1c5bb9;}
.my-bgLightblue   { background-color: #2171e7;}